.button {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px black;

  &:hover {
    filter: brightness(85%);
  }
}